@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic);

body {
  background-image: url(../img/balloons.jpg);
  background-repeat: no-repeat;
  font-family: 'Roboto';
}

.container h1{
  text-align: center;
  margin-top: 180px;
}

.thankful {
  font-weight: 100;
  font-size: 24px;
  color: #fff;
}

.topText {
  /*text-align: center;*/
  font-size: 64px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: 10px;

}

.bottomText {
  font-size: 148px;
  /*letter-spacing: 8px;*/
  color: #fff;
  font-weight: 100;
  /*text-align: center;*/
}

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
